.tooltip {
  display: flex;
  height: 50px;
  background-color: #60a2f7;
}

.tools_wrapper,
.colors_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: 1px solid #fcfcfc;
  padding: 0 20px;
}

.tool_btn {
  background-color: transparent;
  border: none;
  border: 1px solid transparent;
  padding: 3px 5px;
}

.active_tool {
  border: 1px solid #fcfcfc;
  border-radius: 8px;
}

.colors_indicator {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: white;
}

.selected_color {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
