.login_wrapper {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.login_form_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 600px;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
}

.form_title {
  padding-top: 10px;
  font-size: 24px;
}

.form {
  padding-top: 30px;
  width: 80%;
}

.input_wrapper {
  padding-top: 20px;
}

.input_wrapper:last-of-type {
  padding-bottom: 20px;
}

.input_wrapper label {
  color: rgb(108, 108, 108);
  font-size: 14px;
}

.input_wrapper input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  outline: none;
}
