.content {
  flex-grow: 1;
  padding: 20px;
}

.canvas_wrapper {
  height: calc(100% - 35px);
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

canvas {
  border: 1px solid black;
}
