.sidebar {
  flex-shrink: 0;
  width: 300px;
  height: 100%;
  background-color: #327ad7;
}

.sidebar .sidebar_header {
  padding: 20px;
  color: #fff3f3;
  font-style: italic;
}

.sidebar .sidebar_content {
  padding-inline: 20px;
}

.sidebar .sidebar_content .existing_sheets {
  padding-top: 10px;
}

.sidebar .sidebar_content .existing_sheets > :not(:last-child) {
  margin-bottom: 10px;
}
