.content {
  flex-grow: 1;
  padding: 20px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}

.canvas_container {
  height: calc(100% - 95px);
}

.canvas_wrapper {
  height: 100%;
}

canvas {
  border: 1px solid black;
}

.ctrl_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clear_btn,
.save_btn {
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  color: white;
}

.clear_btn:disabled,
.save_btn:disabled {
  opacity: 0.5;
}

.clear_btn {
  background-color: rgb(175, 20, 20);
}

.save_btn {
  background-color: #327ad7;
}
