.new_sheet {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: #ebebeb;
  border-radius: 8px;
}

.new_sheet:hover {
  background-color: white;
  transition: background-color 0.2s ease-in;
}

.new_sheet .new_sheet_btn {
  background-color: transparent;
  border: none;
}

.input_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 5px;
  padding-left: 5px;
}

.input_modal form {
  display: flex;
}

.input_modal form input {
  padding: 5px 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  border: 1px solid #bebebe;
  background-color: white;
  z-index: 2;
}

.input_modal form button {
  padding: 0 5px;
  background-color: #1976d2;
  border: none;
  color: white;
}

.input_modal .error {
  padding: 4px;
  background-color: #be0909;
  color: white;
  font-size: 12px;
}
